<footer class="footer">

  <section class="footer-links">
    <div>
      <h3>Snel naar</h3>
      <a href="#">Verkoop je huis op Funda</a>
      <a href="#">Check je woningwaarde</a>
      <a href="#">Zoek een NVM-makelaar</a>
      <a href="#">Volg de woningmarkt: Funda Index</a>
      <a href="#">Vraag & antwoord</a>
    </div>

    <div>
      <h3>Inzichten & inspiratie</h3>
      <a href="#">Inloggen Mijn Huis</a>
      <a href="#">Alles over een huis kopen</a>
      <a href="#">Alles over een huis verkopen</a>
      <a href="#">Alles over je huis aanpakken</a>
      <a href="#">Tips voor zoeken op Funda</a>
      <a href="#">Haal alles uit Funda</a>
    </div>

    <div>
      <h3>Voor makelaars</h3>
      <a href="#">Meld je aan bij Funda</a>
      <a href="#">Plaats en promoot objecten</a>
      <a href="#">Promoot je kantoor</a>
      <a href="#">Verbreed je kennis</a>
      <a href="#">Inloggen Funda Desk</a>
    </div>

    <div>
      <h3>Meer Funda</h3>
      <a href="#">Over Funda</a>
      <a href="#">Werken bij Funda</a>
      <a href="#">Voor Adverteerders</a>
      <a href="#">Redactioneel beleid</a>
      <a href="#">Contact</a>
    </div>
  </section>

  <section class="footer-bottom">
    <p>
      © 2001-2026 Funda ·
      <a href="#">Privacy</a> ·
      <a href="#">Voorwaarden</a> ·
      <a href="#">Cookies</a> ·
      <a href="#">Cookievoorkeuren</a>
    </p>

    <div class="footer-socials">
      <a href="#">Facebook</a>
      <a href="#">X</a>
      <a href="#">Instagram</a>
      <a href="#">YouTube</a>
      <a href="#">LinkedIn</a>
      <a href="#">🌐 English</a>
    </div>
  </section>

</footer>