<header class="main-header">
  <nav class="main-nav">
    <ul class="main-nav-list">

      <li class="menu-list-item">
        <button class="menu-button" popovertarget="mobile-menu">
          <span class="menu-icon">☰</span>
          <span>Menu</span>
        </button>
      </li>

      <li class="logo-item">
        <a href="/">
          <img class="funda-logo" src="/style/assets/Logo.svg" alt="Funda logo">
        </a>
      </li>

      <li class="secondary-nav-item"><a href="/">Kopen</a></li>
      <li class="secondary-nav-item"><a href="/">Huren</a></li>
      <li class="secondary-nav-item"><a href="/">Verkopen</a></li>
      <li class="secondary-nav-item"><a href="/">Nieuwbouw</a></li>

      <li>
        <a href="/">
          <span class="nav-icon">⌂</span>
          <span>Mijn Huis</span>
        </a>
      </li>

      <li>
        <a href="/favorieten" class="favorites-link">
          <span class="nav-icon favorites-heart">♡</span>
          <span>Favorieten</span>
          <span class="favorites-count">0</span>
        </a>
      </li>

      <li>
        <a href="/">
          <img src="/style/assets/Account.svg" alt="">
          <span>Inloggen</span>
        </a>
      </li>

    </ul>
  </nav>

  <nav id="mobile-menu" class="mobile-menu" popover>
    <a href="/">Kopen</a>
    <a href="/">Huren</a>
    <a href="/">Verkopen</a>
    <a href="/">Nieuwbouw</a>
  </nav>
</header>